<template>
  <div class="policy is-secondary">
    <h1>{{ $t("links.policy") }}</h1>
    <p>{{ $t("policy.personalDataUsage") }}</p>
    <h2>{{ $t("policy.sitesLinks.title") }}</h2>
    <p>{{ $t("policy.sitesLinks.description") }}</p>
    <h2>{{ $t("policy.changes.title") }}</h2>
    <p>{{ $t("policy.changes.description") }}</p>
    <h2>{{ $t("policy.contact.title") }}</h2>
    <p>
      {{ $t("policy.contact.description") }}
      <a href="mailto:contact_htleagueranking.yopmail.com"
        >{{ $t("policy.contact.cta") }}.</a
      >
    </p>
  </div>
</template>

<script>
import { authViewMixin } from "@/mixins/authMixin";
export default {
  mixins: [authViewMixin]
};
</script>

<style></style>
