<template>
  <div class="results">
    <h1 v-if="country">
      <i class="mdi mdi-flag" />
      {{ $t("results.title", { country, level }) }}
    </h1>
    <div v-if="isComputing">
      <div class="text center">
        <h2>{{ $t("results.compute") }}</h2>
        <b-progress
          :value="task.ratio"
          type="is-primary"
          show-value
          format="percent"
          size="is-large"
        ></b-progress>
        <div class="custom-loader-container">
          <div class="custom-loader">
            <img src="/img/captain_tsubasa_run.gif" />
          </div>
        </div>
      </div>
    </div>
    <div class="ranking-results" v-else>
      <RefreshMessage
        v-if="userAuthenticated"
        @askForRefresh="fetchDivision()"
      />
      <AuthenticationNeededMessage v-else>
        <template v-slot:description>
          <p class="center">{{ $t("auth.required.forRefresh") }}</p>
          <p v-if="lastUpdateDate" class="center">
            {{ $t("refresh.lastUpdate") }}
            <strong>
              {{ $d(lastUpdateDate, dateFormat) }}
            </strong>
          </p>
        </template>
      </AuthenticationNeededMessage>
      <RankingTable />
    </div>
  </div>
</template>

<script>
import RefreshMessage from "@/components/RefreshMessage.vue";
import AuthenticationNeededMessage from "@/components/AuthenticationNeededMessage.vue";
import RankingTable from "@/components/RankingTable.vue";
import { mapState, mapActions, mapGetters } from "vuex";
import countryService from "@/services/countryService.js";
import rankingService from "@/services/rankingService.js";
import device from "@/services/deviceService.js";
import { authViewMixin } from "@/mixins/authMixin";

export default {
  name: "Results",
  components: {
    AuthenticationNeededMessage,
    RankingTable,
    RefreshMessage
  },
  mixins: [authViewMixin],
  props: {
    countryName: {
      type: String,
      required: true
    },
    divisionLevel: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      taskEvent: undefined
    };
  },
  computed: {
    ...mapState("division", [
      "country",
      "level",
      "firstLeagueId",
      "leagueSize"
    ]),
    ...mapState("ranking", ["loading", "last_update"]),
    ...mapState({ task: state => state.task }),
    ...mapGetters("task", { taskComplete: "complete" }),
    hasAskedRanking() {
      return Boolean(this.country);
    },
    isComputing() {
      return !this.hasAskedRanking || this.loading || !this.taskComplete;
    },
    size() {
      return device.isMobile() ? "" : "is-large";
    },
    lastUpdateDate() {
      return this.last_update ? new Date(`${this.last_update}Z`) : undefined;
    },
    dateFormat() {
      return device.isMobile() ? "short" : "long";
    }
  },
  methods: {
    ...mapActions("ranking", {
      toggleLoadRanking: "toggleRanking",
      setRanking: "set",
      resetRanking: "reset"
    }),
    ...mapActions("division", ["setDivision"]),
    ...mapActions("task", ["setTask", "updateRunningTask", "resetTask"]),
    displayMessageAndRedirect(message, pageName = "Home") {
      this.$buefy.toast.open({
        message,
        type: "is-danger",
        duration: 5000
      });
      this.$router.push({ name: pageName });
    },
    async getOrComputeRanking(countryName = this.country, level = this.level) {
      this.toggleLoadRanking();
      try {
        const data = (await rankingService.getDivision(countryName, level))
          .data;
        const leagues = data.leagues;
        this.setRanking(data);
        this.$buefy.toast.open({
          message: this.$tc("success.addLeaguesFromDatabase", leagues.length, {
            count: leagues.length
          }),
          type: "is-success",
          duration: 2000
        });
        this.toggleLoadRanking();
      } catch (err) {
        if (err.response.status == 404) {
          this.$buefy.toast.open({
            message: this.$t("errors.fetchingHattrickData", {
              err: err.response.data.message
            }),
            type: "is-warning",
            duration: 5000
          });
          this.toggleLoadRanking();
          // Ask for a new division
          await this.fetchDivision();
        } else {
          this.$buefy.toast.open({
            message: this.$t("errors.somethingWentWrong"),
            type: "is-danger",
            duration: 5000
          });
          this.toggleLoadRanking();
        }
      }
    },
    async fetchDivision() {
      this.resetRanking();
      if (!this.userAuthenticated) {
        return;
      }
      this.toggleLoadRanking();
      this.updateRunningTask({ ratio: 0, status: "running" });
      try {
        const data = (
          await rankingService.forceDivision(
            this.country,
            this.level,
            this.firstLeagueId,
            this.leagueSize
          )
        ).data;
        this.setTask(data);
        this.$buefy.toast.open({
          message: this.$t("success.backgroundTask"),
          type: "is-success",
          duration: 2000
        });

        this.taskEvent = rankingService.getTaskEvent(this.task.taskId);
        this.taskEvent.addEventListener(this.task.taskId, async event => {
          const eventData = JSON.parse(event.data);
          this.updateRunningTask(eventData);
          if (eventData.done) {
            this.taskEvent.close();
            if (eventData.status === "failed") {
              this.$buefy.toast.open({
                message: this.$tc(
                  eventData.description ?? "errors.somethingWentWrong"
                ),
                type: "is-danger",
                duration: 2000
              });
            }
            const data = (
              await rankingService.getDivision(
                this.task.country,
                this.task.level
              )
            ).data;
            const leagues = data.leagues;
            this.setRanking(data);
            this.$buefy.toast.open({
              message: this.$tc(
                "success.addLeaguesFromDatabase",
                leagues.length,
                { count: leagues.length }
              ),
              type: "is-success",
              duration: 2000
            });
            this.toggleLoadRanking();
          }
        });
      } catch (err) {
        this.updateRunningTask({ ratio: undefined, status: "error" });
        const message =
          err.response?.data?.message ?? this.$t("errors.somethingWentWrong");
        this.$buefy.toast.open({
          message,
          type: "is-danger",
          duration: 5000
        });
        this.toggleLoadRanking();
      }
    }
  },
  async beforeMount() {
    // Check url params
    if (
      !this.countryName ||
      !this.divisionLevel ||
      typeof this.countryName != "string" ||
      typeof this.divisionLevel != "number"
    ) {
      const message = this.$t("errors.invalidRequiredDivisionForm");
      this.displayMessageAndRedirect(message);
    }
    // Check if props match with division store
    if (this.countryName == this.country && this.divisionLevel == this.level) {
      this.getOrComputeRanking();
    } else {
      // Look at country by name
      try {
        const countries = (await countryService.getByName(this.countryName))
          .data;
        if (countries.length > 1) {
          const message = this.$t("errors.tooManyMatchingCountries", {
            countryName: this.countryName
          });
          this.displayMessageAndRedirect(message);
        } else {
          // set country then get ranking
          const country = countries[0];
          const leagueFiltered = country.leagues.filter(
            elem => elem.level == this.divisionLevel
          );
          if (leagueFiltered.length != 1) {
            const message = this.$t("errors.noMatchingDivisionForm", {
              level: this.divisionLevel,
              countryName: country.name
            });
            this.displayMessageAndRedirect(message);
          } else {
            const league = leagueFiltered[0];
            const division = {
              country: country.name,
              countryId: country.ht_league_id,
              level: league.level,
              firstLeagueId: league.firstId,
              leagueSize: league.size
            };
            this.setDivision(division);
            this.getOrComputeRanking();
          }
        }
      } catch (err) {
        this.$buefy.toast.open({
          message: this.$t("errors.somethingWentWrong", { err }),
          type: "is-danger"
        });
      }
    }
  },
  destroyed() {
    if (this.taskEvent && this.taskEvent.readyState !== 2) {
      this.taskEvent.close();
      this.toggleLoadRanking();
    }
    this.resetTask();
  }
};
</script>

<style scoped>
.custom-loader {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
}
.custom-loader-container {
  display: flex;
  justify-content: center;
}
</style>
