<template>
  <div>
    <b-modal
      :active.sync="isComponentModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="true"
      aria-role="dialog"
      aria-modal
    >
      <AuthenticationModal />
    </b-modal>
  </div>
</template>

<script>
import AuthenticationModal from "@/components/AuthenticationModal.vue";

export default {
  components: {
    AuthenticationModal
  },
  data() {
    return {
      isComponentModalActive: true
    };
  }
};
</script>

<style></style>
