<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t("serverHeartbeat.checkAuth") }}</p>
    </header>
    <section class="modal-card-body">
      <p v-if="fetchNeeded">{{ $t("serverHeartbeat.fetchAuthStatus") }}</p>
      <p v-else-if="authNeeded">
        {{ $t("serverHeartbeat.needLoginAuthStatus") }}
        <a :href="url">Hattrick CHPP</a>
      </p>
      <p v-else>{{ $t("serverHeartbeat.failAuthStatus") }}</p>
    </section>
  </div>
</template>

<script>
import authService from "@/services/authService.js";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      authChecked: false,
      url: ""
    };
  },
  computed: {
    fetchNeeded() {
      return !this.authChecked;
    },
    authNeeded() {
      return this.authChecked && this.url;
    }
  },
  methods: {
    ...mapActions("authentication", ["set"])
  },
  async mounted() {
    try {
      const authStatus = await authService.authStatus();
      this.authChecked = true;
      const serverAuthenticated = authStatus.data.authenticated;
      this.set(serverAuthenticated);
      if (!serverAuthenticated) {
        this.url = authStatus.data.url;
      }
    } catch (err) {
      this.authChecked = true;
      this.$buefy.toast.open({
        message: this.$t("errors.somethingWentWrong", { err }),
        type: "is-danger"
      });
    }
  }
};
</script>

<style></style>
