<template>
  <div class="navigation-bar">
    <div class="navigation-bar__links">
      <div class="navigation-bar__logo">
        <router-link :to="{ name: 'Home' }">
          <img
            src="../assets/ht-league-ranking-logo.png"
            alt="League comparing tool for hattrick game."
            class="logo"
          />
        </router-link>
      </div>
      <ul class="links">
        <router-link tag="li" class="link" :to="{ name: 'Home' }">
          <i class="mdi mdi-home" />
          <span class="link__title">{{ $t("links.home") }}</span>
        </router-link>
        <router-link tag="li" class="link" :to="{ name: 'Policy' }">
          <i class="mdi mdi-file-document" />
          <span class="link__title">{{ $t("links.policy") }}</span>
        </router-link>
        <router-link tag="li" class="link" :to="{ name: 'About' }">
          <i class="mdi mdi-information" />
          <span class="link__title">{{ $t("links.about") }}</span>
        </router-link>
      </ul>
    </div>
    <div class="navigation-bar__actions">
      <b-field id="language-selection">
        <b-select
          placeholder="Language"
          icon="alphabetical-variant"
          v-model="$i18n.locale"
        >
          <option
            v-for="language in languages"
            :key="language.code"
            :value="language.code"
          >
            {{ language.name }}
          </option>
        </b-select>
      </b-field>
      <b-dropdown
        v-if="userAuthenticated"
        aria-role="list"
        id="dropdown-log_actions"
      >
        <template #trigger="{ active }">
          <b-button
            type="is-hattrick"
            id="btn-log_actions"
            :icon-right="active ? 'menu-up' : 'menu-down'"
          >
            <b-icon icon="account"></b-icon>
            <div>{{ profileName }}</div>
          </b-button>
        </template>

        <b-dropdown-item @click="logout" aria-role="listitem">
          <b-icon icon="exit-to-app"></b-icon>
          <div>{{ $t("auth.logout") }}</div>
        </b-dropdown-item>
      </b-dropdown>
      <b-button v-else @click="login" class="is-hattrick" id="btn-login">
        {{ $t("auth.login") }}
      </b-button>
    </div>
  </div>
</template>

<script>
import { availableLocales } from "@/i18n/setup";
import device from "@/services/deviceService";
import { authComponentMixin } from "@/mixins/authMixin";

export default {
  mixins: [authComponentMixin],
  computed: {
    languages() {
      return availableLocales;
    },
    isLargeDevice() {
      return !device.isMobile();
    },
    profileName() {
      return this.profile?.name ?? "User";
    }
  }
};
</script>

<style lang="scss">
@import "../assets/style/style";

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    #language-selection {
      margin: unset;
    }
  }
  &__logo {
    a {
      display: inline-block;
      height: 0px;
    }
  }
}

.links {
  font-size: 2rem;
  display: flex;

  :hover {
    cursor: pointer;
  }
  li {
    &.router-link-exact-active {
      color: $primary;
    }
  }
}
@media screen and (max-width: 950px) {
  .links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: inherit;
    z-index: 1000;
    display: flex;
    background-color: $primary;
    justify-content: center;
    font-size: 1.7rem;
    gap: 1.2rem;
    height: 4rem;
    align-items: center;
    li {
      color: $light;
      &.router-link-exact-active {
        color: $primary-invert;
        text-decoration: underline;
      }
    }
  }
  .navigation-bar {
    &__actions {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 950px) {
  .links {
    gap: 1.5rem;
    li {
      &:hover {
        color: $primary;
        &:after {
          width: 100%;
          background: $primary;
        }
      }
      &:after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width 0.5s ease, background-color 0.5s ease;
      }
    }
  }
}

@media screen and(min-width: 950px) and (max-width: 1200px) {
  .links {
    font-size: 1.4rem;
    gap: 0.9rem;
  }
  .navigation-bar {
    &__links {
      gap: 1rem;
    }
  }
}

#btn-login,
#dropdown-log_actions {
  min-width: 12rem;
  > .dropdown-trigger {
    width: 100%;
  }
}

#btn-log_actions {
  justify-content: space-between;
  width: 100%;

  > span {
    display: flex;
    align-items: center;
  }
}

a.dropdown-item {
  display: flex;
  align-items: center;
}

.logo {
  min-width: 50px;
  max-width: 100px;
  min-height: 50px;
  max-height: 100px;
}

.link__title {
  text-transform: capitalize;
}
</style>
