<template>
  <div class="form-element">
    <h2>{{ $t("forms.createCustom") }}</h2>
    <b-field :label="$t('forms.labels.leagueId')">
      <b-numberinput
        expanded
        controls-position="compact"
        controls-rounded
        v-model="leagueId"
      ></b-numberinput>
    </b-field>
    <div class="centered">
      <b-button icon-left="plus" type="is-primary" @click="appendLeague">
        {{ $t("forms.addToCustom") }}
      </b-button>
    </div>
  </div>
</template>

<script>
import rankingService from "@/services/rankingService.js";
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      leagueId: null
    };
  },
  computed: mapState("ranking", ["leagues"]),
  methods: {
    ...mapActions("ranking", ["add", "toggleLoad"]),
    appendLeague() {
      if (this.leagues.map(l => l.leagueId).includes(this.leagueId)) {
        this.$buefy.toast.open({
          message: this.$t("errors.alreadyInCustom", {
            leagueId: this.leagueId
          }),
          type: "is-warning"
        });
      } else {
        this.toggleLoad();
        rankingService
          .getOne(this.leagueId)
          .then(result => {
            const league = result.data;
            this.add(league);
            this.$buefy.toast.open({
              message: this.$t("success.addOneInCustom", {
                leagueId: league.leagueId
              }),
              type: "is-success"
            });
          })
          .catch(err => {
            this.$buefy.toast.open({
              message: this.$t("errors.somethingWentWrong", { err }),
              type: "is-danger"
            });
          })
          .finally(() => this.toggleLoad());
      }
    }
  }
};
</script>

<style></style>
