<template>
  <section>
    <div class="table-top">
      <h1>
        {{ $t("results.ranking") }}
        <i class="mdi mdi-medal" />
      </h1>
      <b-button
        :disabled="leagues === undefined || leagues.length == 0"
        :loading="loading"
        type="is-primary"
        outlined
        @click="dlResults()"
      >
        <i class="mdi mdi-download" />
        <span class="desktop">{{ $t("results.download") }}</span>
      </b-button>
    </div>
    <p>{{ $t("results.table.optionalColumns") }}</p>
    <b-field grouped group-multiline>
      <div
        v-for="(column, index) in columnsTemplate"
        :key="index"
        :hidden="!column.concealable"
        class="control"
      >
        <b-checkbox v-model="column.visible">
          {{ $t(`results.table.columns.${column.field}`) }}
        </b-checkbox>
      </div>
    </b-field>
    <p class="tiny">{{ $t("results.table.humanOnly") }}</p>
    <b-table
      :data="leagues"
      :loading="loading"
      :focusable="true"
      :selected.sync="selected"
      default-sort="humanMean"
      sort-icon="chevron-up"
      :paginated="true"
      :per-page="pagination"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
    >
      <b-table-column
        v-for="(column, index) in columnsTemplate"
        :key="index"
        :field="column.field"
        :label="$t(`results.table.columns.${column.field}`)"
        :sortable="column.sortable"
        :visible="column.visible"
        v-slot="props"
        >{{ props.row[column.field] }}</b-table-column
      >

      <b-table-column
        field="name"
        :label="$t('results.table.columns.league')"
        v-slot="props"
      >
        <a :href="props.row.url" target="_blank">{{ props.row.name }}</a>
      </b-table-column>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"></b-icon>
            </p>
            <p>{{ $t("results.table.noData") }}</p>
          </div>
        </section>
      </template>
    </b-table>
  </section>
</template>

<script>
import rankingService from "@/services/rankingService.js";
import device from "@/services/deviceService.js";
import { mapState } from "vuex";

export default {
  data() {
    return {
      selected: undefined,
      columnsTemplate: [
        {
          field: "humanMean",
          visible: true,
          concealable: true,
          helpbox: "Computed with human teams only",
          sortable: true
        },
        {
          field: "humanMedian",
          visible: true,
          concealable: true,
          helpbox: "Computed with human teams only",
          sortable: true
        },
        {
          field: "maximum",
          visible: true,
          concealable: true,
          helpbox: null,
          sortable: true
        },
        {
          field: "mean",
          visible: false,
          concealable: true,
          helpbox: null,
          sortable: true
        },
        {
          field: "median",
          visible: false,
          concealable: true,
          helpbox: null,
          sortable: true
        },
        {
          field: "division",
          visible: true,
          concealable: false,
          helpbox: null,
          sortable: true
        },
        {
          field: "botCount",
          visible: true,
          concealable: false,
          helpbox: null,
          sortable: true
        }
      ],
      size: device.isMobile() ? "" : "is-large",
      pagination: device.isMobile() ? 5 : 20
    };
  },
  computed: mapState("ranking", ["leagues", "loading"]),
  methods: {
    async dlResults() {
      try {
        const tableResponse = await rankingService.download(this.leagues);
        const blob = new Blob([tableResponse.data], {
          type: "application/text"
        });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "ranking.csv";
        link.click();
        URL.revokeObjectURL(link.href);
      } catch (err) {
        this.$buefy.toast.open({
          message: err.toString(),
          type: "is-danger",
          duration: 5000
        });
      }
    }
  }
};
</script>

<style>
.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .table-top button {
    max-width: 70px;
  }
}
</style>
