// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #376933;
$primary-invert: findColorInvert($primary);
$secondary: #e8ffe5;
$secondary-invert: findColorInvert($secondary);
$ht-primary: #277f31;
$ht-primary-invert: findColorInvert($ht-primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "secondary": (
    $secondary,
    $secondary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "hattrick": (
    $ht-primary,
    $ht-primary-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.is-secondary {
  background-color: $secondary;
  padding: 5em;
}
